<h1>Following</h1>


  <div class="panel-body">
    <% @followings.each do |following| %>
    <div class=" form-group">
      <div class="col-sm-offset-5 col-sm-3">
        <%= link_to gravatar_for(following, size: 25), following %>
        <%= following.name %>
      </div>

      <br clear="all" />
  </div>
  <% end %>
</div>